@charset "UTF-8";
body{
    max-width: 1000px;
}
header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    background-color: #f6efdb;
    h1{
        color:gray;
    }

.search{
    background-image: url(/img/index_search_01.png);
    background-repeat: no-repeat;
    background-position: 4px center;
    background-size: auto 60%;
    border-radius: 3px;
    border-width: thin;
    width: 200px;
    height: 20px;
}
}
.top_pic{
    position: relative;
    .text{
        color: white;
        position: absolute;
        top:141px;
        left:45px;
    }
    .pic img{
        width: 80%;
    }
}
.container{
    width: 80%;
    background-color: skyblue;
}
.sidebar{
    float: right;
    width: 20%;
    background-color: red;
}
footer{
    background-color: #956d30;
}