@charset "UTF-8";
/*!
 * ress.css • v1.1.1
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: scroll;
  /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%;
  /* iOS 8+ */
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

/* Remove margin, padding of all elements and set background-no-repeat as default */
* {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements */
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
/* Add the correct display in iOS 4-7.*/
audio:not([controls]) {
  display: none;
  height: 0;
}

hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
}

/*
* Correct `block` display not defined for any HTML5 element in IE 8/9
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox
* Correct `block` display not defined for `main` in IE 11
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden],
template {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: 1px dotted;
  /* Add a bordered underline effect in all browsers */
  text-decoration: none;
  /* Remove text decoration in Firefox 40+ */
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
  -webkit-text-decoration-skip: objects;
  /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

b,
strong {
  font-weight: bolder;
  /* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */
}

dfn {
  font-style: italic;
  /* Address styling not present in Safari and Chrome */
}

/* Address styling not present in IE 8/9 */
mark {
  background-color: #ff0;
  color: #000;
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"]
[role="button"] {
  cursor: pointer;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"] {
  width: auto;
  /* Firefox 36+ */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Safari 8+ */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Safari 8 */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule. */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS and Safari */
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden;
  /* Internet Explorer 11- */
}

audio,
canvas,
progress,
video {
  display: inline-block;
  /* Internet Explorer 11+, Windows Phone 8.1+ */
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

/* # =================================================================
   # Selection
   # ================================================================= */
/* Specify text selection background color and omit drop shadow */
::-moz-selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #000;
  text-shadow: none;
}

header {
  height: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFF7EF;
}

header h1 {
  padding-top: 35px;
  padding-left: 34px;
  font-family: 'Roboto', sans-serif;
  color: #707070;
}

header #form1 {
  margin-top: 45px;
  margin-right: 20px;
}

header #form1 .search {
  background-image: url(/img/index_search_01.png);
  background-repeat: no-repeat;
  background-position: 4px center;
  background-size: auto 60%;
  border: solid;
  border-radius: 6px;
  border-width: thin;
  background-color: #ffffff;
  border-color: #707070;
  width: 205px;
  height: 25px;
  margin-right: 4px;
  vertical-align: middle;
  /*検索ボタンと高さを揃える*/
}

header #form1 .button {
  font-size: 10px;
  border: solid;
  border-radius: 6px;
  border-width: thin;
  border-color: #707070;
  background-color: #F2EDE9;
  width: 70px;
  height: 25px;
  color: #707070;
  vertical-align: middle;
  /*検索ボタンと高さを揃える*/
}

@media (max-width: 768px) and (min-width: 641px) {
  header {
    width: 125%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header #form1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

body {
  max-width: 1000px;
  margin: 0;
}

.wrapper {
  width: 80%;
}

.top_pic {
  position: relative;
}

.top_pic .text {
  color: white;
  position: absolute;
  top: 124px;
  left: 45px;
}

.top_pic .pic img {
  width: 100%;
}

.container {
  height: 725px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 48px;
}

.container h2 {
  font-size: 33px;
  color: white;
  margin-left: 12px;
  margin-top: 33px;
  line-height: 25px;
}

.container .c_left {
  background-image: url(/img/take_out.png);
  width: 325px;
  height: 620px;
  background-size: cover;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-left: 57px;
  position: relative;
}

.container .c_left .c_left_box1 {
  width: 304px;
  height: 90px;
  border-style: none;
  border-width: medium;
  background-color: rgba(247, 245, 245, 0.9);
  position: absolute;
  top: 420px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.container .c_left .c_left_box1 h3 {
  margin-top: 12px;
  margin-left: 12px;
  font-size: 77%;
  font-weight: 100;
}

.container .c_left .c_left_box1 h3 p {
  margin-top: 5px;
  width: 380px;
  font-size: 10px;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  -webkit-transform-origin: left;
          transform-origin: left;
  /*縮小してずれた分を左に寄せている*/
}

.container .c_left .c_left_box2 {
  width: 304px;
  height: 90px;
  border-style: none;
  border-width: medium;
  background-color: rgba(247, 245, 245, 0.9);
  position: absolute;
  top: 520px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.container .c_left .c_left_box2 h3 {
  margin-top: 12px;
  margin-left: 12px;
  font-size: 77%;
  font-weight: 100;
}

.container .c_left .c_left_box2 h3 p {
  margin-top: 5px;
  width: 380px;
  font-size: 10px;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  -webkit-transform-origin: left;
          transform-origin: left;
  /*縮小してずれた分を左に寄せている*/
}

.container .c_right {
  background-image: url(/img/eat_in.png);
  width: 325px;
  height: 621px;
  background-size: cover;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-right: 58px;
  position: relative;
}

.container .c_right .c_right_box1 {
  width: 304px;
  height: 90px;
  border-style: none;
  border-width: medium;
  background-color: rgba(247, 245, 245, 0.9);
  position: absolute;
  top: 420px;
  /*親要素に対してうまく配置出来ていない*/
  left: 10px;
  right: 10px;
}

.container .c_right .c_right_box1 h3 {
  margin-top: 12px;
  margin-left: 12px;
  font-size: 77%;
  font-weight: 100;
}

.container .c_right .c_right_box1 h3 p {
  margin-top: 5px;
  width: 380px;
  font-size: 10px;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  -webkit-transform-origin: left;
          transform-origin: left;
  /*縮小してずれた分を左に寄せている*/
}

.container .c_right .c_right_box2 {
  width: 304px;
  height: 90px;
  border-style: none;
  border-width: medium;
  background-color: rgba(247, 245, 245, 0.9);
  position: absolute;
  top: 520px;
  /*親要素に対してうまく配置出来ていない*/
  left: 10px;
  right: 10px;
}

.container .c_right .c_right_box2 h3 {
  margin-top: 12px;
  margin-left: 12px;
  font-size: 77%;
  font-weight: 100;
}

.container .c_right .c_right_box2 h3 p {
  margin-top: 5px;
  width: 380px;
  font-size: 10px;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
  -webkit-transform-origin: left;
          transform-origin: left;
  /*縮小してずれた分を左に寄せている*/
}

.map {
  position: relative;
  height: 337px;
}

.map img {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.map .m_container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 415px;
  height: 290px;
  padding-left: 62px;
  padding-top: 47px;
  font-size: 20px;
  line-height: 15px;
}

.map .m_container .m_container_text {
  width: 500px;
  font-size: 10px;
  line-height: 20px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  /*文字を10px以下に縮小している*/
  -webkit-transform-origin: left;
          transform-origin: left;
  /*縮小してずれた分を左に寄せている*/
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  /*タブレット用*/
  .top_pic {
    width: 125%;
  }
  .top_pic .text {
    font-size: 1.5rem;
    top: 100px;
    left: 45px;
  }
}

@media (max-width: 768px) and (min-width: 641px) {
  .container {
    width: 125%;
  }
  .container .c_left {
    margin-left: 40px;
    width: 42%;
  }
  .container .c_right {
    margin-right: 40px;
    width: 42%;
  }
}

@media (max-width: 768px) {
  /*タブレット用*/
  .map img {
    width: 125%;
  }
  .map .m_container {
    width: 115%;
    font-size: 30px;
  }
  .map .m_container .m_container_text {
    font-size: 14px;
  }
}

.sidebar {
  width: 20%;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: #F2EDE9;
  padding-left: 27px;
  padding-top: 45px;
  color: #707070;
}

@media (max-width: 768px) and (min-width: 641px) {
  .sidebar {
    display: none;
  }
}

.sidebar .menu {
  padding-top: 30px;
  font-size: 0.9rem;
  list-style-type: none;
  padding-left: 0;
}

.sidebar .menu .burger {
  padding-top: 23px;
  padding-left: 10px;
  font-size: 0.7rem;
  list-style-type: none;
  line-height: 22px;
}

.sidebar .menu .side {
  padding-top: 23px;
  padding-left: 10px;
  font-size: 0.7rem;
  list-style-type: none;
  line-height: 22px;
}

.sidebar .menu .drink {
  padding-top: 23px;
  padding-left: 10px;
  font-size: 0.7rem;
  list-style-type: none;
  line-height: 22px;
}

.sidebar a {
  text-decoration: none;
}

footer {
  margin: 0;
  padding: 2rem 0;
  width: 100%;
  height: 78px;
  line-height: 2;
  background-image: url(/img/footer_background.png);
  color: white;
  font-size: 20px;
  text-align: center;
}

footer p {
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */