.c-button{
    text-align:center;
    button{
    width: 151px;
    height: 40px;
    border-radius: 20px;
    background-color:white ;
    color:black;
    margin: 15rem auto 1rem auto;

    @include breakpoint (tablet){
    margin: 5rem auto 1rem auto;
    }
    @include breakpoint (sma){
        margin: 15rem auto 1rem auto;
    }
    }
}
.c-single-button{
    button{
        width: 223px;
        height: 54px;
        border-radius: 10px;
        background-color:#F2EDE9 ;
        border:1px solid #707070;
        color:black;
        margin: 31px auto;
    }
}
.p-sidebar_button{
    position: fixed;
    top:20px;
    right: 5px;
    z-index: 9999;
    outline:0;
    transform: 0.5s;
    @include breakpoint (pc){
        display: none;
    } 
    @include breakpoint (sma){
        top: 20px;
        right: 10px;
        position: fixed;
    }
    &_line{
        position: absolute;
        cursor:pointer;
        top:-1000%;
    &s{
        position: absolute;
        top:0;
        left:0;
        display: block;
        width: 20px;
        height: 3px;
        background:#000 ;
        transition:0.5s;
    }
        &_1{
            top:10px;
        }
        &_2{
            top:24px;
        }
        &_3{
            top:38px
        }
}
&.is-open{
    top:20px;
    right: 3%;
    margin-left: -25%;
    position: fixed;
    @include breakpoint (sma){
        top: 5px;
        right: 30px;
    }
    h2{
        display: none;
    }
    }
        .p-sidebar_button_line_1{
        top:               24px;    /* 上から2番目の線の位置に変更 */
        /*                 線を45度回転  */
        -webkit-transform: rotate(45deg);
        transform:         rotate(45deg);
        }
        .p-sidebar_button_line_2{
        opacity:           0;       /* 不透明度を下げて線を消す   */
        }
        .p-sidebar_button_line_3{
        top:               24px;    /* 上から2番目の線の位置に変更 */
        /*                 線を135度回転 */
        -webkit-transform: rotate(135deg);
        transform:         rotate(135deg);
        }
}