header{
    height: 112px;
    display: flex;
    justify-content: space-between;
    background-color: #FFF7EF;
    h1{
        padding-top: 35px;
        padding-left: 34px;
        font-family: 'Roboto', sans-serif;
        color:$font-color;
    }
#form1{
    margin-top: 45px;
    margin-right: 20px;
.search{
    background-image: url(/img/index_search_01.png);
    background-repeat: no-repeat;
    background-position: 4px center;
    background-size: auto 60%;
    border: solid;
    border-radius: 6px;
    border-width: thin;
    background-color: #ffffff;
    border-color: #707070;
    width: 205px;
    height: 25px;
    margin-right: 4px;
    vertical-align:middle; /*検索ボタンと高さを揃える*/
}
.button{
    font-size: 10px;
    border: solid;
    border-radius: 6px;
    border-width: thin;
    border-color: $font-color;
    background-color: #F2EDE9;
    width: 70px;
    height: 25px;
    color:$font-color;
    vertical-align:middle; /*検索ボタンと高さを揃える*/
}
}
}
    header{
        @include breakpoint (tablet){
        width: 125%;
        height: auto;
        flex-direction: column;
        align-items: center;
        #form1{
            padding-top: 20px;
            padding-bottom: 20px;
        }
        
    }
}