body{
    max-width: 1000px;
    margin: 0;
}
.wrapper{
    width: 80%;
}
.top_pic{
    position: relative;
    .text{
        color: white;
        position: absolute;
        top:124px;
        left:45px;
    }
    .pic img{
        width: 100%;
    }
}
.container{
    height: 725px;
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    .c_left{
        h2{
            font-size: 33px;
            color: white;
            margin-left: 12px;
            margin-top: 33px;
            line-height: 1px;
        }
        background-image: url(/img/take_out.png);
        width: 325px;
        height: 620px;
        background-size: cover;
        justify-content: left;
        margin-left: 57px;
        position: relative;
        .c_left_box1{
            width: 304px;
            height: 90px;
            border-style: none;
            border-width: medium;
            background-color: rgba(247, 245, 245,0.9);
            position: absolute;
            top: 420px;
            left: 10px;
            right: 10px;
            bottom: 10px;
            h3{
                margin-top: 12px;
                margin-left: 12px;
                font-size: 77%;
                font-weight: 100;
            p{
                margin-top: 5px;
                width: 380px;
                font-size: 10px;
                transform: scale(0.75);
                transform-origin: left; /*縮小してずれた分を左に寄せている*/
            }
        }
        }
        .c_left_box2{
            width: 304px;
            height: 90px;
            border-style: none;
            border-width: medium;
            background-color: rgba(247, 245, 245,0.9);
            position: absolute;
            top: 520px;
            left: 10px;
            right: 10px;
            bottom: 10px;
            h3{
                margin-top: 12px;
                margin-left: 12px;
                font-size: 77%;
                font-weight: 100;
            p{
                margin-top: 5px;
                width: 380px;
                font-size: 10px;
                transform: scale(0.75);
                transform-origin: left; /*縮小してずれた分を左に寄せている*/  
            }
        }
        }
    }
    .c_right{
        background-image: url(/img/eat_in.png);
        width: 325px;
        height: 621px;
        background-size: cover;
        justify-content: right;
        margin-right: 58px;
        h2{
            font-size: 33px;
            color: white;
            margin-left: 12px;
            margin-top: 33px;
            line-height: 1px;
        }
        .c_right_box1{
            width: 304px;
            height: 90px;
            border-style: none;
            border-width: medium;
            background-color: rgba(247, 245, 245,0.9);
            position: absolute;
            top: 852px; /*親要素に対してうまく配置出来ていない*/
            left: 405px;
            h3{
                margin-top: 12px;
                margin-left: 12px;
                font-size: 77%;
                font-weight: 100;
            p{
                margin-top: 5px;
                width: 380px;
                font-size: 10px;
                transform: scale(0.75);
                transform-origin: left; /*縮小してずれた分を左に寄せている*/     
            }
        }
        }
        .c_right_box2{
            width: 304px;
            height: 90px;
            border-style: none;
            border-width: medium;
            background-color: rgba(247, 245, 245,0.9);
            position: absolute;
            top: 952px;/*親要素に対してうまく配置出来ていない*/
            left: 405px;
            h3{
                margin-top: 12px;
                margin-left: 12px;
                font-size: 77%;
                font-weight: 100;
            p{
                margin-top: 5px;
                width: 380px;
                font-size: 10px;
                transform: scale(0.75);
                transform-origin: left; /*縮小してずれた分を左に寄せている*/ 
            }
        }
        }
    }
}
.map{
    position: relative;
    height: 337px;
    img{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    }
    .m_container{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5) ;
        color: white;
        width: 415px;
        height: 290px;
        padding-left: 62px;
        padding-top: 47px;
        font-size: 20px;
        line-height: 15px;
        .m_container_text{
            width: 500px;
            font-size: 10px;
            line-height: 20px;
            transform: scale(0.7); /*文字を10px以下に縮小している*/
            transform-origin: left; /*縮小してずれた分を左に寄せている*/
        }
    }
}
.flexbox{
    display: flex;
}
@media (max-width: 768px){ /*タブレット用*/
    .top_pic{
        width: 125%;
        .text{
            font-size: 1.5rem;
            top:100px;
            left: 45px;
        }
    }
}
    .container{
        @include breakpoint (tablet){
        width: 125%;
        .c_left{
            margin-left: 40px;
            width: 42%;
        }
        .c_right{
            margin-right: 40px;
            width: 42%;
        }
    }
}
@media (max-width: 768px){ /*タブレット用*/
    .map{
        img{
            width: 125%;
        }
        .m_container{
            width: 115%;
            font-size: 30px;
            .m_container_text{
            font-size: 14px;
            }
        }
    }
}