.p-main_top_pic{
    position: relative;
    width: 100%;
    height: 19%;
    background-color: #000000;
    .p-main_text{
        font-size: 2.1rem;
        color: white;
        position: absolute;
        top:45%;
        left:5.5%;
    }
    .p-main_pic{
        width: 100%;
        
        img{
            width: 100%;
            vertical-align: bottom; /*画像と背景の隙間を消す*/
        }
    }
}
@include breakpoint (tablet){
    .p-main_top_pic{
        width: 125%;
        height: 15%;
        .c-main_text{
            font-size: 1.5rem;
            top:100px;
            left: 45px;
        }
    }
}