.p-pc_top_pic{
    position: relative;
    width: 100%;
    height: 8%;
    .p-pc_text{
        font-size: 2.1rem;
        color: white;
        position: absolute;
        top:45%;
        left:5.5%;
    }
    .p-pc_pic img{
        width: 100%;
        height: 100%;
    }
}