.p-single_top_pic{
    position: relative;
    width: 100%;
    height: 8%;
    .p-single_pic{
        width: 100%;
        height: 100%;
    }
    .p-single_text{
        font-size: 2.1rem;
        color: white;
        position: absolute;
        top:45%;
        left:5.5%;
    }
    .p-single_pic img{
        width: 100%;
        height: 260px;
        object-fit: cover; //画像の切り抜き//
    }
}