.p-single_container{
    height: 2797px;
    &_topic{
    margin: 35px;
    margin-left: 52px;
    margin-right: 52px;
    p{
        margin-top: 33px;
        font-size:1rem ;
    }
    h3{
        margin-top: 34px;
        margin-bottom: 34px;
    }
    h4{
        margin-top: 34px;
        margin-bottom: 34px;
    }
    h5{
        margin-top: 34px;
        margin-bottom: 34px;
    }
    h6{
        margin-top: 34px;
        margin-bottom: 34px;
    }
    &_quote{
        background-color: #F5F5F5;
        width: 703px;
        height: auto;
        blockquote{
            padding: 26px 21px;
        }
    }
    }
}

