.p-single_container_pic_library{
    width: 87%;
    height: auto;
    display: grid;
    grid-template-columns: 228px 228px 228px;
    gap: 10px;
    margin: 0 auto;
    &_pic1{
        img{
        width: 100%;
        height: 100%;
    }
}
}