html{
    font-size: 62.5%;
}
body{
    max-width: 998px;
    max-height: 1556px;
    margin: 0;
}
.l-main_flexbox{
    display: flex;
    width: 100%;
    height: 95%;
}
.l-main_wrapper{
    width: 80%;
    height: 100%;
}
.l-main_top_pic{
    position: relative;
    width: 100%;
    height: 19%;
    .l-main_text{
        font-size: 2.1rem;
        color: white;
        position: absolute;
        top:45%;
        left:5.5%;
    }
    .l-main_pic img{
        width: 100%;
        height: 100%;
    }
}

.l-main_container{
    width: 100%;
    height: 752px;
    display: flex;
    justify-content: space-between;
    padding-top: 6%;
    h2{
        font-size: 3.3rem;
        color: white;
        margin-left: 3.7%;
        margin-top: 10%;
        line-height: 2.5rem;
    }
    &_left{
        background-image: url(/img/take_out.png);
        width: 40.5%;
        height: 90%;
        background-size: cover;
        justify-content: left;
        margin-left: 7%;
        position: relative;
        &_box1{
            width: 94%;
            height: 15%;
            border-style: none;
            border-width: medium;
            background-color: rgba(247, 245, 245,0.9);
            position: absolute;
            top: 67.5%;
            left: 3%;
            h3{
                margin-top: 4%;
                margin-left: 4%;
                font-size: 1.2rem;
                font-weight: 100;
            p{
                margin-top: 5px;
                width: 380px;
                font-size: 1rem;
                transform: scale(0.75);
                transform-origin: left; /*縮小してずれた分を左に寄せている*/
            }
        }
        }
        &_box2{
            width: 94%;
            height: 15%;
            border-style: none;
            border-width: medium;
            background-color: rgba(247, 245, 245,0.9);
            position: absolute;
            top: 84%;
            left: 3%;
            h3{
                margin-top: 4%;
                margin-left: 4%;
                font-size: 1.2rem;
                font-weight: 100;
            p{
                margin-top: 5px;
                width: 380px;
                font-size: 10px;
                transform: scale(0.75);
                transform-origin: left; /*縮小してずれた分を左に寄せている*/  
            }
        }
        }
    }
    &_right{
        background-image: url(/img/eat_in.png);
        width: 40.5%;
        height: 90%;
        background-size: cover;
        justify-content: right;
        margin-right: 7%;
        position: relative;
        &_box1{
            width: 94%;
            height: 15%;
            border-style: none;
            border-width: medium;
            background-color: rgba(247, 245, 245,0.9);
            position: absolute;
            top: 67.5%; 
            right: 3%;
            h3{
                margin-top: 4%;
                margin-left: 4%;
                font-size: 1.2rem;
                font-weight: 100;
            p{
                margin-top: 5px;
                width: 380px;
                font-size: 1rem;
                transform: scale(0.75);
                transform-origin: left; /*縮小してずれた分を左に寄せている*/
            }
        }
        }
        &_box2{
            width: 94%;
            height: 15%;
            border-style: none;
            border-width: medium;
            background-color: rgba(247, 245, 245,0.9);
            position: absolute;
            top: 84%;
            right: 3%;
            h3{
                margin-top: 4%;
                margin-left: 4%;
                font-size: 1.2rem;
                font-weight: 100;
            p{
                margin-top: 5px;
                width: 380px;
                font-size: 1rem;
                transform: scale(0.75);
                transform-origin: left; /*縮小してずれた分を左に寄せている*/
            }
        }
        }
    }
}

.l-main_map{
    position: relative;
    width: 100%;
    height: 23%;
    img{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    }
    .l-main_map_container{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5) ;
        color: white;
        width: 61%;
        height: 100%;
        padding-left: 62px;
        padding-top: 47px;
        font-size: 20px;
        line-height: 15px;
        .l-main_map_container_text{
            width: 500px;
            font-size: 10px;
            line-height: 20px;
            transform: scale(0.7); /*文字を10px以下に縮小している*/
            transform-origin: left; /*縮小してずれた分を左に寄せている*/
        }
    }
}
@include breakpoint (tablet){
    .l-main_top_pic{
        width: 125%;
        height: 15%;
        .l-main_text{
            font-size: 1.5rem;
            top:100px;
            left: 45px;
        }
    }
}
@include breakpoint (tablet){
    .l-main_container{
    width: 125%;
    &_left{
        margin-left: 40px;
        width: 42%;
        &_box1{
            width: 93%;
            height: 25%;
            top: 46%;
            h3{
                font-size: 2rem;
            p{
                font-size: 1.6rem;
                word-wrap: break-word;
            }
        }
    }
        &_box2{
            width: 93%;
            height: 25%;
            top:73%;
            h3{
                font-size: 2rem;
            p{
                font-size: 1.6rem;
            }
        }
        }
    }
    &_right{
        margin-right: 40px;
        width: 42%;
        &_box1{
            width: 93%;
            height: 25%;
            top: 46%;
            h3{
                font-size: 2rem;
            p{
                font-size: 1.6rem;
                word-wrap: break-word;
            }
        }
        }
        &_box2{
            width: 93%;
            height: 25%;
            top: 73%;
            h3{
                font-size: 2rem;
            p{
                font-size: 1.6rem;
                word-wrap: break-word;
            }
        }
        }
    }
}
}
    @include breakpoint (tablet){
        .l-main_map{
            height: 22%;
            img{
                width: 125%;
            }
            .l-main_map_container{
                width: 125%;
                font-size: 30px;
                .l-main_map_container_text{
                font-size: 14px;
                }
            }
        }
    }