.l-sidebar{
    width: 20%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    background-color: #F2EDE9;
    padding-left: 2.7%;
    padding-top: 4.5%;
    color: $font-color;
    @include breakpoint ( tablet ){
        display: none;
    }
    .l-sidebar_menu{
        padding-top: 30px;
        font-size: 0.9rem;
        list-style-type: none;
        padding-left: 0;
                    .l-sidebar_menu_burger{
                    padding-top:     23px;
                    padding-left:    10px;
                    font-size:       0.7rem;
                    list-style-type: none;
                    line-height:     22px;
                    }
                    .l-sidebar_menu_side{
                        padding-top:     23px;
                        padding-left:    10px;
                    font-size:       0.7rem;
                    list-style-type: none;
                    line-height:     22px;
                    }
                    .l-sidebar_menu_drink{
                        padding-top:     23px;
                        padding-left:    10px;
                    font-size:       0.7rem;
                    list-style-type: none;
                    line-height:     22px;
                    }
     }
     a{
        text-decoration: none;
     }
    }