.l-sidebar{
    width: 20%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    background-color: #F2EDE9;
    padding-left: 2.7%;
    padding-top: 4.5%;
    padding-bottom: 1%;
    color: $font-color;
    transition: 0.2s;
    z-index: 100;
    .l-sidebar_menu{
        padding-top: 30px;
        font-size: 0.9rem;
        list-style-type: none;
        padding-left: 0;
        color: $font-color;
        a:hover{
            opacity: 0.5;
        }

                    .l-sidebar_menu_burger{
                    padding-top:     23px;
                    padding-left:    10px;
                    font-size:       0.7rem;
                    list-style-type: none;
                    line-height:     2px;
                    }
                    .l-sidebar_menu_side{
                        padding-top:     23px;
                        padding-left:    10px;
                    font-size:       0.7rem;
                    list-style-type: none;
                    line-height:     2px;
                    }
                    .l-sidebar_menu_drink{
                        padding-top:     23px;
                        padding-left:    10px;
                    font-size:       0.7rem;
                    list-style-type: none;
                    line-height:     2px;
                    }
     }
@include breakpoint ( tablet ){
        height: 100%;
        right: -20%;
        position: fixed;
        z-index: 100;
}
@include breakpoint ( sma ){
    height: 100%;
    right: -20%;
    position: fixed;
    z-index: 100;
}
&.is-open{
    right: 0;
    top: 0;
    padding: 0;
    @include breakpoint ( tablet ){
        width: 40%;
        height: 100%;
}
    @include breakpoint (sma){
        width: 50%;
        height: 100%;
    }
    .l-sidebar_title{
        display: none;
    }
    .l-sidebar_menu{
        padding-left: 20px;
    }
}
    }
.menu-bg { //.is-openがついたら背景を暗くする
        &.is-open{
            width: 100%;
            height:100%;
            position: fixed;
            top: 0;
            z-index: 1;
            background-color:rgba(0,0,0,0.5);
            cursor: pointer;
        }
      }